* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.parent {
  display: flex;
  justify-content: center;
}
nav a {
  font-size: xx-large;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  margin: 20px;
  justify-content: flex-end;
  padding: 0px 5px 0px 5px;
}
.header {
  text-align: center;
  font-weight: bold;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.164);
  border-radius: 18px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #bfbbde;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
}

/*entrance animation for big text*/
@keyframes entranceani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Naawi Oodena big text home page*/
.main-text {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 300px;
  text-align: center;
  color: white;
  animation-name: entranceani;
  animation-duration: 2s;
}
.naawi-oodena {
  font-size: 40px;
  margin-top: 15px;
  justify-content: flex-start;
}
body {
  margin: 0px;
  background-color: #dfcdcd;
}
