nav a {
  font-size: xx-large;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.main-text {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 300px;
  text-align: center;
  color: white;
}
