nav a {
  font-size: xx-large;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
}

/*nav link hover animation*/
@keyframes hoverani {
  0% {
  }
  100% {
    color: red;
  }
}
nav a:hover {
  animation-name: hoverani;
  animation-duration: 1s;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #bfbbde;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
}

/*entrance animation for big text*/
@keyframes entranceani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*Naawi Oodena big text home page*/
.main-text {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 300px;
  text-align: center;
  color: white;
  animation-name: entranceani;
  animation-duration: 2s;
}
.naawi-oodena {
  font-size: 40px;
  margin-top: 5px;
}
body {
  margin: 0px;
  background-color: #dfcdcd;
}
